/* primare color */
:root{
    --orange: #FD6E0A;
    
}
 /* common font style */

body {
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
}

* {
    margin: 0;
    padding: 0;
}
/* hader related style start*/

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 200px;
}

.nav-title {
    color: #181818;
    font-size: 45px;
    font-weight: 800;
}
.nav-title > span{
    color: var(--orange);
}
nav > ul{
    display: flex;
    align-items: baseline;
    
}
nav li{
    list-style: none;
    margin-right: 50px;
}
nav a{
    text-decoration: none;
    color: #181818;
}
.btn{
    color: wheat;
    background: var(--orange);
    padding: 18px 35px;
    border-radius: 5px;
    border: 0;
    font-size: 20px;
    font-weight: 700;
}
.header_bg{
    background-color: #FFF8F3 ;
    background-image: url(../asscerts/images/header_bg.png);
    background-repeat: no-repeat;
    background-position: bottom right;
}
.banner {
    padding: 30px 30px 0px 200px;
    display: flex;
    align-items: center;
    justify-content: space-between;

}
.banner_content{
    max-width: 500px;
}
.banner-grting{
    font-size: 45px;
    color: #474747;
    margin-bottom: 0;
}
.banner_title{
    font-size: 85px;
    font-weight: 700;
    margin-top: 5px;
    margin-bottom: 20px;
}
.banner_discription{
    margin-bottom: 20px;
}
.banner .b-image{
    width: 500px;
}
/* main section start */
  
/* about section start */
.about{
    padding: 130px;
    border-radius: 10px;
    background: #FFF8F3;
    margin: 130px;
}
.sectionTitle{
    color: #181818;
    text-align: center;
    font-size: 35px;
    font-weight: 700;
}
.section_discription{
    color: #757575;
    text-align: center;
    font-size: 18px;
}
/* 5.4end */